<!--
      1) Un composant c'est un sélecteur et un template a afficher
      2) un composant c'est aussi une classe qui porte des données et des comportements
      3) On peut projeter des données dans le template (via interpolation, via databinding)
      4) On peut écouter les interavtions de l'utilisateur (via event binding)
      5) Angular detecte les changements et mets eventuellement  à jour l'affichage
      6) On peut transferer le détail de l'evenement via la variable $event
      7) On peut utiliser des fonctionnalités procurées pare d'autres modules d'angular (Ex: FormsModules)
      * databinding:  =>
      * eventbinding:  <=
      * Two Way Data Binding (la classe envoie à HTML et inversement) <=>
      8) On peut utiliser d'autres composants
      9) On peut passer des informations a un composant enfant si il expose un ou plusieurs @input()
      et les input peuvent avoir un nom different de la propriété
      10) On peut passer du contenu simple ou complexe à un composant enfant
      en utilisant la balise <ng content> dans l'enfant
    -->
<!-- <h1>{{ title }}</h1> -->

<!-- <app-twitt author="Lior Chamla">
    <span class="content">Salut à tous</span>
    <span class="date">20/01/2019</span>
</app-twitt>
<app-twitt author="Magalie Pernin"></app-twitt>
<app-twitt></app-twitt> -->

<!-- <app-employe [informations]="employe" (licenciement)="reagirAuLicenciement($event)">
    Très bon prof
</app-employe> -->

<app-eleve></app-eleve>

<!-- 
<p>Bienvenue sur le composant</p>
<p>Le nombre est
    {{ nombre * 10 }}</p>
<p>Le montant est
    {{ nombre.toLocaleString() }}</p>
<p>{{ getPhrase() }}</p>

<input type="text" [value]="title" (input)="onChange($event)"/>

<input type="text" [(ngModel)]="title"/>

<button (click)="direBonjour()">Click me</button>
<button (click)="changerTitre()">Changer le titre</button>
<hr/>
<img [src]="image"/> -->
